'use client';

import { useState } from 'react';
import { Button, Modal, ButtonProps, useMantineTheme, Title } from '@mantine/core';
import { IconTrash } from '@tabler/icons-react';
import { useMediaQuery } from '@mantine/hooks';

import { Delete{{pascalCase singular}}Form } from '@/components/{{camelCase singular}}/crud/Delete{{pascalCase singular}}Form/Delete{{pascalCase singular}}Form';

interface Delete{{pascalCase singular}}ButtonProps extends ButtonProps {
  {{camelCase singular}}Id: string;
}

const Delete{{pascalCase singular}}Button = ({ {{camelCase singular}}Id, ...props }: Delete{{pascalCase singular}}ButtonProps) => {
  const [opened, setOpened] = useState(false);
  const theme = useMantineTheme();
  const isMobile = useMediaQuery(`(max-width: ${theme.breakpoints.sm})`);

  return (
    <>
      <Button
        rightSection={<IconTrash stroke={1.5} />}
        variant="outline"
        size="md"
        onClick={() => setOpened(true)}
        {...props}
      >
        Delete {{pascalCase singular}}
      </Button>

      <Modal
        opened={opened}
        size="md"
        centered
        fullScreen={isMobile}
        onClose={() => setOpened(false)}
        title={
          <Title order={2} mb="xs">
            Delete {{pascalCase singular}}?
          </Title>
        }
      >
        <Delete{{pascalCase singular}}Form {{camelCase singular}}Id={{camelCase singular}}Id setOpened={setOpened} />
      </Modal>
    </>
  );
};

export default Delete{{pascalCase singular}}Button;
