'use client';

import { useState } from 'react';
import { Button, Modal, ButtonProps, useMantineTheme, Title } from '@mantine/core';
import { IconEdit } from '@tabler/icons-react';
import { useMediaQuery } from '@mantine/hooks';

import { Edit{{pascalCase singular}}Form } from '@/components/{{camelCase singular}}/crud/Edit{{pascalCase singular}}Form/Edit{{pascalCase singular}}Form';

interface Edit{{pascalCase singular}}ButtonProps extends ButtonProps {
  {{camelCase singular}}Id: string;
}

const Edit{{pascalCase singular}}Button = ({ {{camelCase singular}}Id, ...props }: Edit{{pascalCase singular}}ButtonProps) => {
  const [opened, setOpened] = useState(false);
  const theme = useMantineTheme();
  const isMobile = useMediaQuery(`(max-width: ${theme.breakpoints.sm})`);

  return (
    <>
      <Button
        rightSection={<IconEdit stroke={1.5} />}
        variant="outline"
        size="md"
        onClick={() => setOpened(true)}
        {...props}
      >
        Edit {{pascalCase singular}}
      </Button>

      <Modal
        opened={opened}
        size="md"
        centered
        fullScreen={isMobile}
        onClose={() => setOpened(false)}
        title={
          <Title order={2} mb="xs">
            Edit {{pascalCase singular}}
          </Title>
        }
      >
        <Edit{{pascalCase singular}}Form {{camelCase singular}}Id={{#bracket 1}}{{camelCase singular}}Id{{/bracket}} setOpened={setOpened} />
      </Modal>
    </>
  );
};

export default Edit{{pascalCase singular}}Button;
