'use client';

import { Button, TextInput, Group, Box, useMantineTheme, Stack, Flex } from '@mantine/core';
import { notifications } from '@mantine/notifications';
import { useForm } from '@mantine/form';
import { zodResolver } from 'mantine-form-zod-resolver';
import { IconCheck, IconX } from '@tabler/icons-react';
import type { Prisma } from '@prisma/client';

import { {{pascalCase singular}}CreateInputSchema } from '@prisma/zod';
import { useCreate{{pascalCase singular}} } from '@/lib/actions/{{camelCase singular}}';

interface New{{pascalCase singular}}FormProps {
  setOpened: (opened: boolean) => void;
}

export function New{{pascalCase singular}}Form({ setOpened }: New{{pascalCase singular}}FormProps) {
  const theme = useMantineTheme();

  const form = useForm({
    initialValues: {
      firstName: '',
      lastName: '',
    },
    validate: zodResolver({{pascalCase singular}}CreateInputSchema),
  });

  // Function to check if all fields are dirty
  const allFieldsDirty = () => Object.keys(form.values).every((key) => form.isDirty(key));

  const create{{pascalCase singular}}Mutation = useCreate{{pascalCase singular}}(
    // onSuccess callback
    () => {
      form.reset();
      notifications.update({
        id: '{{camelCase singular}}-create',
        color: 'teal',
        title: '{{pascalCase singular}} was created',
        message: 'The new {{singular}} has been added successfully.',
        icon: <IconCheck size={theme.fontSizes.md} />,
        loading: false,
        autoClose: 2000,
      });
      setOpened(false);
    },
    // onError callback
    () => {
      notifications.update({
        id: '{{camelCase singular}}-create',
        color: 'red',
        title: 'Failed to create {{singular}}',
        message: 'An error occurred. Please try again.',
        icon: <IconX size={theme.fontSizes.md} />,
        loading: false,
        autoClose: 2000,
      });
    }
  );

  const handleSubmit = async (values: Prisma.{{pascalCase singular}}CreateInput) => {
    // Show loading notification
    notifications.show({
      id: '{{camelCase singular}}-create',
      loading: true,
      title: 'Creating {{singular}}',
      message: 'Please wait...',
      autoClose: false,
      withCloseButton: false,
    });

    create{{pascalCase singular}}Mutation.mutate(values);
  };

  return (
    <Box component="form" onSubmit={form.onSubmit(handleSubmit)}>
      <Stack>
        <Group grow>
          <TextInput label="First Name" placeholder="John" {...form.getInputProps('firstName')} />
          <TextInput label="Last Name" placeholder="Doe" {...form.getInputProps('lastName')} />
        </Group>

        <Flex direction=\{{ base: 'column', sm: 'row' }} justify="flex-end">
          <Button
            size="md"
            style=\{{ minWidth: '200px' }}
            variant="filled"
            mt={10}
            type="submit"
            disabled={!allFieldsDirty()}
          >
            Add {{pascalCase singular}}
          </Button>
        </Flex>
      </Stack>
    </Box>
  );
}
